<div class="header-actions">

  <h2>Planes de Curso</h2>

  <button
    class="btn-primary"
    (click)="nuevo()">

    ➕ Nuevo Plan

  </button>

</div>

<hr>
  <!-- LOADING -->
  <div *ngIf="loading">Cargando...</div>

  <!-- LISTADO -->
  <table *ngIf="!loading">
    <thead>
      <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Versión</th>
        <th>Tipo Curso</th>
        <th>Activo</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of planes">
        <td>{{ p.id }}</td>
        <td>{{ p.codigo }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.version }}</td>
        <td>{{ p.tipo_curso_nombre }}</td>
        <td>{{ p.activo ? 'Sí' : 'No' }}</td>

        <td>
        
          <button (click)="configurar(p)">
            Configurar
          </button>
        
          <button (click)="editar(p)">
            Editar
          </button>
        
          <button (click)="cambiarEstado(p.id)">
            {{ p.activo ? 'Desactivar' : 'Activar' }}
          </button>
        
        </td>
      </tr>
    </tbody>
  </table>

</div>
