<div class="container">

  <h2>Planes de Curso</h2>

  <!-- FORMULARIO -->
  <form [formGroup]="form" (ngSubmit)="guardar()" class="form">

    <input type="text" placeholder="Código" formControlName="codigo">
    <input type="text" placeholder="Nombre" formControlName="nombre">
    <input type="text" placeholder="Versión" formControlName="version">

    <select formControlName="tipo_curso_id">
      <option [ngValue]="null">Seleccione tipo de curso</option>

      @for (t of tiposCurso; track t.id) {
        <option [ngValue]="t.id">
          {{ t.nombre }}
        </option>
      }
    </select>

    <label>
      <input type="checkbox" formControlName="permite_eleccion_personalizada">
      Permite elección personalizada
    </label>

    <input type="date" formControlName="vigente_desde">
    <input type="date" formControlName="vigente_hasta">

    <textarea formControlName="observaciones"></textarea>

    <button type="submit">
      {{ modoEdicion ? 'Actualizar' : 'Guardar' }}
    </button>

  </form>

  <hr>

  <div class="filters">

  <input
    type="text"
    placeholder="Buscar por código o nombre"
    [(ngModel)]="filtroTexto"
    (input)="filtrar()"
  >

  <select [(ngModel)]="filtroTipo" (change)="filtrar()">
    <option [ngValue]="null">Todos los tipos</option>

    @for (t of tiposCurso; track t.id) {
      <option [ngValue]="t.id">
        {{ t.nombre }}
      </option>
    }
  </select>

  <select [(ngModel)]="filtroActivo" (change)="filtrar()">
    <option [ngValue]="null">Todos</option>
    <option [ngValue]="true">Activos</option>
    <option [ngValue]="false">Inactivos</option>
  </select>

</div>

  <!-- LOADING -->
  <div *ngIf="loading">Cargando...</div>

  <!-- LISTADO -->
  <table *ngIf="!loading">
    <thead>
      <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Versión</th>
        <th>Tipo Curso</th>
        <th>Activo</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of planes">
        <td>{{ p.id }}</td>
        <td>{{ p.codigo }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.version }}</td>
        <td>{{ p.tipo_curso_nombre }}</td>
        <td>{{ p.activo ? 'Sí' : 'No' }}</td>

        <td>
          <button (click)="editar(p)">
            Editar
          </button>

          <button (click)="cambiarEstado(p.id)">
            {{ p.activo ? 'Desactivar' : 'Activar' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
